.container {
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 2rem;
  box-shadow: 10rem 10rem 10rem var(--shadow-dark);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  width: 100rem;
  min-height: 50rem;
}

.container.day-mode {
  /* background-color: #F5F5F5; */
  /* background-color: var(--light-blue);/ */

  box-shadow: 10rem 10rem 10rem var(--shadow-light);
}

.container.night-mode {
  background-color: rgba(53, 53, 53, 0.918);
  box-shadow: 10rem 10rem 10rem var(--shadow-dark);
}

.upper-data {
  border-radius: 2rem;
  overflow: hidden;
  width: 70%;
}

.upper-data::after {
  content: '';
  display: block;
  background-color: #F5F5F5;
  color: #F5F5F5;
  height: 0.4rem;
  width: 100%;
  margin: 4rem 0;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
  z-index: 1;
  width: 100%;
  height: 100%;

}

.weather-data.day-mode {
  background-color: var(--light-blue);
}

.weather-data.night-mode {
  background-color: var(--dark-purple);
}

p {
  color: var(--white);
  font-size: 2.4rem;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 3.2rem;
}

.temperature {
  color: var(--white);
  font-size: 8rem;
  text-align: center;
  font-weight: 900;
}

.more-info-label {
  color: var(--white);
  font-size: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.more-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  border-radius: 2rem;
  margin: 1rem;
}

.more-info-container.day-mode {
  background-color: var(--light-blue);
}

.more-info-container.night-mode {
  background-color: var(--dark-purple);
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label span {
  color: var(--white);
  font-size: 2.4rem;
  margin-top: 0.4rem;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  font-size: 2.4rem;

}