.container {
  border-radius: 2rem;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 60rem;
  height: 55rem;
}

.container.day-mode {
  background-color: var(--light-blue);
  box-shadow: 10rem 10rem 10rem var(--shadow-light);
}

.container.night-mode {
  background: hsla(233, 28%, 59%, 1);

  background: linear-gradient(135deg, hsla(233, 28%, 59%, 1) 14%, hsla(247, 60%, 76%, 1) 100%);

  background: -moz-linear-gradient(135deg, hsla(233, 28%, 59%, 1) 14%, hsla(247, 60%, 76%, 1) 100%);

  background: -webkit-linear-gradient(135deg, hsla(233, 28%, 59%, 1) 14%, hsla(247, 60%, 76%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7980B3", endColorstr="#A79FE7", GradientType=1);

  box-shadow: 10rem 10rem 10rem var(--shadow-dark);
}

.upper-data {
  width: 100%;
}

.upper-data::after {
  content: '';
  display: block;
  background-color: #F5F5F5;
  color: #F5F5F5;
  height: 0.4rem;
  width: 80%;
  margin: 0rem auto 2rem;

}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
  z-index: 1;
}

.weather-data.day-mode {
  background-color: var(--light-blue);
}

p {
  color: var(--white);
  font-size: 2.8rem;
  justify-content: center;
}

span img {
  height: 4rem;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 3.8rem;
}

.temperature {
  color: var(--white);
  font-size: 8rem;
  text-align: center;
  font-weight: 900;
}

.date-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

.time,
.date {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0.95;
}

.more-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  border-radius: 2rem;
  padding: 2rem 1rem;
}

.more-info-container.day-mode {
  background-color: var(--light-blue);
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label span {
  color: var(--white);
  font-size: 2.2rem;
  margin-top: 0.4rem;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  font-size: 2.2rem;
}

.cloudIcon {
  height: 12rem;
  position: fixed;
  right: 0;
  z-index: -1;
  opacity: 0;
}

.cloudIcon:nth-child(1) {
  top: 10rem;
  animation: fadeInOut 12s linear infinite, walkCloud 12s linear infinite;
  animation-delay: 0s;
}

.cloudIcon:nth-child(2) {
  animation: fadeInOut 12s linear infinite, walkCloud 12s linear infinite;

  height: 15rem;
  top: 24rem;
  animation-delay: 1.5s;
}

.cloudIcon:nth-child(3) {
  animation: fadeInOut 12s linear infinite, walkCloud 10s linear infinite;

  top: 18rem;
  animation-delay: 5s;
}

.cloudIcon:nth-child(4) {

  height: 17rem;
  top: 12rem;
  animation-delay: 3s;

}

.cloudIcon:nth-child(5) {
  animation: fadeInOut 12s linear infinite, walkCloud 11s linear infinite;

  height: 13rem;
  bottom: 24rem;
  animation-delay: 6s;
}

.cloudIcon:nth-child(6) {
  animation: fadeInOut 12s linear infinite, walkCloud 13s linear infinite;
  height: 18rem;
  bottom: 17rem;
  animation-delay: 1.7s;
}

.cloudIcon:nth-child(7) {
  animation: fadeInOut 12s linear infinite, walkCloud 10s linear infinite;
  bottom: 8rem;
  animation-delay: 7.5s;
}

.cloudIcon:nth-child(8) {
  animation: fadeInOut 12s linear infinite, walkCloud 12s linear infinite;
  height: 14rem;
  bottom: 2rem;
  animation-delay: 8s;
}

.cloudIcon:nth-child(9) {
  animation: fadeInOut 12s linear infinite, walkCloud 15s linear infinite;
  height: 15rem;
  bottom: 25rem;
  animation-delay: 10s;
}

.cloudIcon:nth-child(10) {
  animation: fadeInOut 12s linear infinite, walkCloud 16s linear infinite;
  height: 20rem;
  bottom: 28rem;
  animation-delay: 13s;
}

.stars>.cloudIcon.star {
  height: 6rem;
  position: fixed;
  right: 0;
}

.stars>.cloudIcon.star:nth-child(1) {
  animation: fadeInOut 14s linear infinite, walkCloud 12s linear infinite;
  animation-delay: 0s;
  top: 15%;
}

.stars>.cloudIcon.star:nth-child(2) {
  animation: fadeInOut 16s linear infinite, walkCloud 16s linear infinite;
  animation-delay: 2s;
  top: 25%;
}

.stars>.cloudIcon.star:nth-child(3) {
  animation: fadeInOut 13s linear infinite, walkCloud 10s linear infinite;
  animation-delay: 4s;
  top: 35%;
}

.stars>.cloudIcon.star:nth-child(4) {
  animation: fadeInOut 17s linear infinite, walkCloud 17s linear infinite;
  animation-delay: 1s;
  top: 45%;
}

.stars>.cloudIcon.star:nth-child(5) {
  animation: fadeInOut 15s linear infinite, walkCloud 15s linear infinite;
  animation-delay: 9s;
  top: 55%;
}

.stars>.cloudIcon.star:nth-child(6) {
  animation: fadeInOut 18s linear infinite, walkCloud 18s linear infinite;
  animation-delay: 3s;
  top: 65%;
}

.stars>.cloudIcon.star:nth-child(7) {
  animation: fadeInOut 12s linear infinite, walkCloud 12s linear infinite;
  animation-delay: 5s;
  top: 75%;
}

.stars>.cloudIcon.star:nth-child(8) {
  animation: fadeInOut 16s linear infinite, walkCloud 16s linear infinite;
  animation-delay: 7s;
  top: 85%;
}

.stars>.cloudIcon.star:nth-child(9) {
  animation: fadeInOut 14s linear infinite, walkCloud 14s linear infinite;
  animation-delay: 6s;
  top: 10%;
}

.stars>.cloudIcon.star:nth-child(10) {
  animation: fadeInOut 15s linear infinite, walkCloud 15s linear infinite;
  animation-delay: 7s;
  top: 20%;
}

.sunIcon {
  position: absolute;
  top: 0;
  left: 0;
  height: 26rem;
  margin: 6rem;
  display: flex;
  /* animation: spinAndFloat 12s linear infinite; */
}

@keyframes spinAndFloat {

  0% {
    transform: rotate(0deg) translateX(4rem);
  }

  100% {
    transform: rotate(360deg) translateX(4rem);
  }


}


@keyframes walkCloud {
  0% {
    transform: translateX(33vw);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  3%,
  97% {
    opacity: 1;
  }
}