.search {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.search input {
  background-color: var(--shadow-dark);
  outline: none;
  border: none;
  border-radius: 20rem;
  padding: 1.6rem;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  width: 70%;
}

.search-icon {
  margin-left: 1rem;
}
